@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive, sans-serif;
    color: #ffbf00;
    background: rgb(0, 0, 0);
    line-height: 1.5em;
}

* {
    box-sizing: border-box;
}

